<?php
/**
 * Systempay V2-Payment Module version 1.8.0 for Magento 1.4-1.9. Support contact : supportvad@lyra-network.com.
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2017 Lyra Network and contributors
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @category  payment
 * @package   systempay
 */

$confirmMsg = Mage::helper('systempay')->__('Are you sure you want to reset all Systempay configuration ?');
?>

<table>
    <tr>
        <td>
            <button class="scalable"
                    type="button"
                    onclick="if (confirm('<?php echo $confirmMsg; ?>')) { window.location='<?php echo $this->getButtonUrl(); ?>'; return false; }"
                    id="<?php echo $this->getHtmlId(); ?>_button">
                <span><span><?php echo $this->escapeHtml($this->getButtonLabel()); ?></span></span>
            </button>
        </td>
    </tr>
</table>