/**
 * Systempay V2-Payment Module version 1.8.0 for Magento 1.4-1.9. Support contact : supportvad@lyra-network.com.
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2017 Lyra Network and contributors
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @category  payment
 * @package   systempay
 */

#payment_systempay table.form-list, #payment_systempay_standard table.form-list, 
#payment_systempay_multi table.form-list, #payment_systempay_gift table.form-list, 
#payment_systempay_choozeo table.form-list, #payment_systempay_oney table.form-list, 
#payment_systempay_paypal table.form-list, #payment_systempay_sofort table.form-list, 
#payment_systempay_postfinance table.form-list, #payment_systempay_giropay table.form-list,
#payment_systempay_ideal table.form-list {
    width: 100% !important;
}

.systempay-card, .systempay-option {
    display: inline-block;
}

.systempay-card label, .systempay-option label {
    float: none !important;
    max-width: none !important;
    padding-right: 5px !important;
}

.systempay-card label img {
    margin-right: 10px;
    max-height: 25px;
    vertical-align: middle;
}