<?php
/**
 * Systempay V2-Payment Module version 1.8.0 for Magento 1.4-1.9. Support contact : supportvad@lyra-network.com.
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2017 Lyra Network and contributors
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @category  payment
 * @package   systempay
 */
?>

<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode(); ?>" style="display:none;">
    <?php $availCards = $this->getAvailableOptions(); ?>

    <li>
        <div class="systempay-field">
        <?php
        $first = true;
        foreach ($availCards as $key => $option) {
        ?>
            <div class="systempay-card">
            <?php if (count($availCards) == 1) {?>
                <input type="hidden" id="systempay_choozeo_card_type_<?php echo $option['code']; ?>" name="payment[systempay_choozeo_cc_type]" value="<?php echo $option['code']; ?>" >
            <?php } else { ?>
                <input type="radio" class="radio" id="systempay_choozeo_card_type_<?php echo $option['code']; ?>" name="payment[systempay_choozeo_cc_type]" value="<?php echo $option['code']; ?>"<?php if ($first) { ?> checked="checked"<?php } ?> >
            <?php } ?>

                <label for="systempay_choozeo_card_type_<?php echo $option['code']; ?>">
                    <img alt="<?php echo $option['label']; ?>" src="<?php echo $this->getCcTypeImageSrc($option['code']); ?>" title="<?php echo $option['label']; ?>" style="max-height: 40px !important;" />
                </label>

                <?php $first = false; ?>
            </div>
        <?php } ?>
        </div>
    </li>
</ul>