<?php
/**
 * Systempay V2-Payment Module version 1.8.0 for Magento 1.4-1.9. Support contact : supportvad@lyra-network.com.
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2017 Lyra Network and contributors
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @category  payment
 * @package   systempay
 */
?>

<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode(); ?>" style="display:none;">
    <li>
        <?php
        $cards = $this->getAvailableGcTypes();

        // show card logos as radio buttons
        $html = '';

        $first = true;
        foreach ($cards as $code => $label) {
            $html .= '<div class="systempay-card">';

            if (count($cards) == 1) {
                $html .= '<input type="hidden" id="systempay_gift_gc_type_'.$code.'" value="'.$code.'" name="payment[systempay_gift_gc_type]"/>' ;
            } else {
                $html .= '<input type="radio" class="radio" id="systempay_gift_gc_type_'.$code.'"'.($first ? ' checked="checked"' : '').' value="'.$code.'" name="payment[systempay_gift_gc_type]"/>' ;
            }
            $first = false;

            $html .= '<label for="systempay_gift_gc_type_'.$code.'">
                          <img alt="'.$label.'" src="'.$this->getGcTypeImageSrc($code).'" title="' . $label . '" />
                      </label>';

            $html .= '</div>';
        }

        echo $html;
        ?>
    </li>
</ul>