<?php
/**
 * Systempay V2-Payment Module version 1.8.0 for Magento 1.4-1.9. Support contact : supportvad@lyra-network.com.
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2017 Lyra Network and contributors
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @category  payment
 * @package   systempay
 */
?>

<p><b>
    <?php echo $this->getMethod()->getTitle(); ?>

    <?php
    $info = $this->getInfo();
    $option = @unserialize($info->getAdditionalData()); // get chosen payment option if any

    if (stripos($info->getMethod(), 'systempay_multi') === 0) {
        if (! isset($option) || empty($option)) {
            // temporary patch for module versions < 1.3 that use additional_information field
            $option = $info->getAdditionalInformation(Lyra_Systempay_Helper_Payment::MULTI_OPTION);
        }
        if (is_array($option) && ! empty($option)) {
            echo '<br />';
            echo $option['label'] . ' (' . $option['count'] . 'X)';
        }
    } elseif ($info->getMethod() === 'systempay_oney') {
        if (is_array($option) && ! empty($option)) {
            echo '<br />';
            echo $option['label'];
        }
    }
    ?>
</b></p>

<?php
if ($info->getCcTransId()) {
    echo Mage::helper('systempay')->__('Transaction ID') . ' : ' . $info->getCcTransId();
    echo '<br />';

    if ($info->getCcType() == 'MULTI') {
        echo $this->getTransactionInfoHtml(true);
    } else {
        echo Mage::helper('systempay')->__('Payment Mean') . ' : ' . $info->getCcType();
        echo '<br />';

        echo Mage::helper('systempay')->__('3-DS Authentication') . ' : ';
        if ($info->getCcSecureVerify()) {
            echo  Mage::helper('systempay')->__('YES');
            echo '<br />';
            echo Mage::helper('systempay')->__('3-DS Certificate') . ' : ' . $info->getCcSecureVerify();
        } else {
            echo  Mage::helper('systempay')->__('NO');
        }
    }

    echo '<br />';
}