<?php
/**
 * Systempay V2-Payment Module version 1.8.0 for Magento 1.4-1.9. Support contact : supportvad@lyra-network.com.
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2017 Lyra Network and contributors
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @category  payment
 * @package   systempay
 */
?>

<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display: none;">
    <?php if (($options = $this->getPaymentOptions()) && is_array($options) && ! empty($options)) : ?>
        <li>
        <?php
        $first = true;
        foreach ($options as $code => $value) {
            $html = '<div class="systempay-option">';

            if (count($options) == 1) {
                $html .= '<input type="hidden" id="systempay_oney_option'.$code.'" value="'.$code.'" name="payment[systempay_oney_option]" /><span style="margin-right: 20px;"></span>';
            } else {
                $html .= '<input type="radio"
                                 class="radio"
                                 id="systempay_oney_option'.$code.'"'.
                                 ($first ? ' checked="checked"' : '').'
                                 value="'.$code.'"
                                 name="payment[systempay_oney_option]"
                                 onclick="javascript: $$(\'.systempay_oney_review\').invoke(\'hide\'); $(\'systempay_oney_review_'.$value['code'].'\').show();" />' ;
            }

            $html .= '<label for="systempay_oney_option'.$code.'">' . $value['label'] . '</label>';
            $html .= '</div>';

            $html .= $this->getHtmlReview($value, $first);
            $html .= '<br style="margin-bottom: 5px;"/>';

            $first = false;

            echo $html;
        }
        ?>
        </li>
    <?php endif; ?>
</ul>
