<?php
/**
 * Systempay V2-Payment Module version 1.8.0 for Magento 1.4-1.9. Support contact : supportvad@lyra-network.com.
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2017 Lyra Network and contributors
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @category  payment
 * @package   systempay
 */
?>

<form id="systempay_payment_form" method="POST" action="<?php echo $this->getFormAction();?>"  method="POST">
    <?php
    $fields = $this->getFormFields();
    $silentMode = ($fields['vads_action_mode'] === 'SILENT');

    foreach ($fields as $key => $value) :
    ?>
        <input type="hidden" name="<?php echo $key;?>" value="<?php echo $value;?>">
    <?php endforeach;?>

    <table>
        <tbody>
            <tr>
                <td style="vertical-align: middle;">
                    <img style="margin-right: 8px;" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'systempay/loading.gif' ?>">
                </td>
                <td style="vertical-align: middle;">
                    <span style="font-weight: bold;">
                        <?php
                        if ($silentMode) {
                            echo Mage::helper('systempay')->__('Please wait a moment. Your order payment is now processing.');
                        } else {
                            echo Mage::helper('systempay')->__('Please wait a moment. This page will transfer your data to Systempay payment platform in a few seconds.');
                        }
                        ?>
                    </span><br />
                    <span><?php echo Mage::helper('systempay')->__('If nothing happens in 10 seconds, click the button below.');?></span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="buttons-set">
        <button class="button" title="<?php echo Mage::helper('systempay')->__('Send');?>" type="submit">
            <span><span><?php echo Mage::helper('systempay')->__('Send');?></span></span>
        </button>
    </div>
</form>

<script type="text/javascript">
//<![CDATA[
    var redirect = new VarienForm('systempay_payment_form', '');
    Event.observe(window, 'load', function() {
        redirect.submit();
    });
//]]>
</script>