<?php
/**
 * Systempay V2-Payment Module version 1.8.0 for Magento 1.4-1.9. Support contact : supportvad@lyra-network.com.
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2017 Lyra Network and contributors
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @category  payment
 * @package   systempay
 */

$oneClickActive = $this->getConfigData('one_click_active'); // 1-Click enabled ?
$customer = Mage::getSingleton('customer/session')->getCustomer(); // logged in customer
?>

<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode(); ?>" style="display:none;">
<?php
if ($this->isLocalCcType() || $this->isLocalCcInfo()) :
    $cards = $this->getAvailableCcTypes();

    // show card logos as radio buttons
    $amexCards = '';
    $cbCards = '';
    $otherCards = '';

    $first = true;
    foreach ($cards as $code => $label) {
        $html = '<div class="systempay-card">';

        if (count($cards) == 1) {
            $html .= '<input type="hidden" id="systempay_standard_cc_type_'.$code.'" value="'.$code.'" name="payment[systempay_standard_cc_type]"/>' ;
        } else {
            $html .= '<input type="radio" class="radio" id="systempay_standard_cc_type_'.$code.'"'.($first ? ' checked="checked"' : '').' value="'.$code.'" name="payment[systempay_standard_cc_type]"/>' ;
        }
        $first = false;

        $html .= '<label for="systempay_standard_cc_type_'.$code.'">
                    <img alt="'.$label.'" src="'.$this->getCcTypeImageSrc($code).'" title="' . $label . '" />
                  </label>';
        $html .= '</div>';

        $network = $this->getCcTypeNetwork($code);
        if ($network == 'AMEX') {
            $amexCards .= $html;
        } elseif ($network == 'CB') {
            $cbCards .= $html;
        } else {
            $otherCards .= $html;
        }
    }

    if ($cbCards != '') echo '<li class="systempay-standard-cc-block">' . $cbCards . '</li>';
    if ($amexCards != '') echo '<li class="systempay-standard-cc-block">' . $amexCards . '</li>';
    if ($otherCards != '') echo '<li class="systempay-standard-cc-block">' . $otherCards . '</li>';
endif;

if ($this->isLocalCcInfo()) : ?>
    <li class="systempay-standard-cc-block">
        <div class="input-box">
            <label class="required" for="systempay_standard_cc_number"><?php echo Mage::helper('systempay')->__('Credit Card Number'); ?><em>*</em></label><br/>
            <input class="input-text required-entry validate-systempay-standard-cc-number" autocomplete="off" maxlength="19" type="text" name="payment[systempay_standard_cc_number]" id="systempay_standard_cc_number" style="width: 200px;" />
        </div>
    </li>
    <li class="systempay-standard-cc-block">
        <div class="input-box">
            <label class="required" for="systempay_standard_cc_exp_month"><?php echo Mage::helper('systempay')->__('Expiration Date'); ?><em>*</em></label><br/>
            <div class="v-fix">
                <select class="month required-entry validate-systempay-standard-cc-exp" name="payment[systempay_standard_cc_exp_month]" id="systempay_standard_cc_exp_month" style="width: 95px;" >
                    <?php foreach (range(1, 12) as $month) : ?>
                        <option value="<?php echo $month; ?>"><?php echo str_pad($month, 2, '0', STR_PAD_LEFT); ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
            <div class="v-fix">
                <select class="year required-entry" name="payment[systempay_standard_cc_exp_year]" id="systempay_standard_cc_exp_year" style="width: 100px;">
                    <?php foreach (range(date('Y'), date('Y') + 9) as $year) : ?>
                        <option value="<?php echo $year; ?>"><?php echo $year; ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
    </li>
    <li class="systempay-standard-cc-block">
        <div class="input-box">
            <label class="required" for="systempay_standard_cc_cvv"><?php echo Mage::helper('systempay')->__('CVV'); ?><em>*</em></label><br/>
            <input class="input-text required-entry validate-systempay-standard-cc-cvv" autocomplete="off" maxlength="4" type="text" name="payment[systempay_standard_cc_cvv]" id="systempay_standard_cc_cvv" style="width: 60px;" />
            <a href="#" class="cvv-what-is-this"><?php echo Mage::helper('systempay')->__('Help ?'); ?></a>
        </div>
    </li>

    <?php
    if ($oneClickActive && $customer) :
        $cardRegisterMode = $this->getConfigData('card_register_mode');
    ?>
        <li class="systempay-standard-cc-block">
        <?php if ($cardRegisterMode == 1 /* register disabled by default */ || $cardRegisterMode == 2 /* register enabled by default */) : ?>
            <div class="systempay-register-message">
                <input type="checkbox" value="1" class="checkbox"<?php if ($cardRegisterMode == 2) echo ' checked="checked"'; ?> name="payment[systempay_standard_cc_register]" id="systempay_standard_cc_register" />
                <label style="float: none !important; cursor: pointer;" for="systempay_standard_cc_register"><?php echo $this->getConfigData('card_register_message') ?></label>
            </div>
        <?php else : /* register enabled but hidden */ ?>
            <input type="hidden" value="1" name="payment[systempay_standard_cc_register]" />
        <?php endif; ?>
        </li>

        <?php if ($customer->getSystempayIdentifier()) : ?>
        <li class="systempay-standard-cc-block">
            <span class="or"><?php echo Mage::helper('systempay')->__('OR') ?></span>
        </li>

        <li class="systempay-standard-cc-block">
            <a class="systempay-payment-link" href="javascript: void(0);" onclick="javascript: systempayUpdatePaymentBlock('id');"><?php echo Mage::helper('systempay')->__('Click here to pay with your registered card.') ?></a>
        </li>

        <!-- payment with registered card block -->
        <li class="systempay-standard-id-block">
            <input type="hidden" value="1" name="payment[systempay_standard_use_identifier]" />
            <span><?php echo Mage::helper('systempay')->__('You will pay with your registered card %s. No data entry is needed.', '<b>' . $customer->getSystempayMaskedCard() . '</b>') ?></span>
        </li>

        <li class="systempay-standard-id-block">
            <span class="or"><?php echo Mage::helper('systempay')->__('OR') ?></span>
        </li>

        <li class="systempay-standard-id-block">
            <a class="systempay-payment-link" href="javascript: void(0);" onclick="javascript: systempayUpdatePaymentBlock('cc');"><?php echo Mage::helper('systempay')->__('Click here to pay with another payment mean.') ?></a>
        </li>
        <?php endif; ?>
    <?php endif; ?>

<?php elseif ($oneClickActive && $customer && $customer->getSystempayIdentifier()) : ?>
    <li class="systempay-standard-cc-block"><?php echo Mage::helper('systempay')->__('You will enter payment data after order confirmation.') ?></li>

    <li class="systempay-standard-cc-block">
        <span class="or"><?php echo Mage::helper('systempay')->__('OR') ?></span>
    </li>

    <li class="systempay-standard-cc-block">
        <a class="systempay-payment-link" href="javascript: void(0);" onclick="javascript: systempayUpdatePaymentBlock('id');"><?php echo Mage::helper('systempay')->__('Click here to pay with your registered card.') ?></a>
    </li>

    <!-- payment with registered card block -->
    <li class="systempay-standard-id-block">
        <input type="hidden" value="1" name="payment[systempay_standard_use_identifier]" />
        <span><?php echo Mage::helper('systempay')->__('You will pay with your registered card %s. No data entry is needed.', '<b>' . $customer->getSystempayMaskedCard() . '</b>') ?></span>
    </li>

    <li class="systempay-standard-id-block">
        <span class="or"><?php echo Mage::helper('systempay')->__('OR') ?></span>
    </li>

    <li class="systempay-standard-id-block">
        <a class="systempay-payment-link" href="javascript: void(0);" onclick="javascript: systempayUpdatePaymentBlock('cc');"><?php echo Mage::helper('systempay')->__('Click here to pay with another payment mean.') ?></a>
    </li>
<?php endif;?>
</ul>

<script type="text/javascript">
//<![CDATA[
<?php if ($this->isLocalCcInfo()) : ?>
    Translator.add(
            'Incorrect credit card number.',
            '<?php echo addslashes(Mage::helper('systempay')->__('Incorrect credit card number.')) ?>'
    );
    Translator.add(
            'Incorrect credit card CVV.',
            '<?php echo addslashes(Mage::helper('systempay')->__('Incorrect credit card CVV.')) ?>'
    );
    Translator.add(
            'Incorrect credit card expiration date.',
            '<?php echo addslashes(Mage::helper('systempay')->__('Incorrect credit card expiration date.')) ?>'
    );

    Validation.addAllThese([
            ['validate-systempay-standard-cc-exp', 'Incorrect credit card expiration date.', function(v, elm) {
                    var ccExpMonth = v;
                    var ccExpYear = $('systempay_standard_cc_exp_year').value;
                    var currentTime = new Date();
                    var currentMonth = currentTime.getMonth() + 1;
                    var currentYear = currentTime.getFullYear();
                    if (ccExpMonth < currentMonth && ccExpYear == currentYear) {
                        return false;
                    }
                    return true;
            }],
            ['validate-systempay-standard-cc-number', 'Incorrect credit card number.', function(v) {
                return /^\d{13,19}$/.test(v);
            }],
            ['validate-systempay-standard-cc-cvv', 'Incorrect credit card CVV.', function(v) {
                return /^\d{3,4}$/.test(v);
            }]
    ]);
<?php endif; ?>

<?php if ($oneClickActive && $customer && $customer->getSystempayIdentifier()) : ?>
    // display payment by identifier block when Systempay standard payment is selected
    Event.stopObserving('p_method_systempay_standard', 'click', onMethodSystempayStandardClick);
    Event.observe('p_method_systempay_standard', 'click', onMethodSystempayStandardClick);

    systempayUpdatePaymentBlock.delay(0.2, 'id');
<?php endif;?>
//]]>
</script>