<?php
/**
 * Systempay V2-Payment Module version 1.8.0 for Magento 1.4-1.9. Support contact : supportvad@lyra-network.com.
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2017 Lyra Network and contributors
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @category  payment
 * @package   systempay
 */
?>

<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
    <li>
        <?php
        $options = $this->getAvailableOptions();
        if (count($options) == 1) {
            $keys = array_keys($options);

            $key = $keys[0]; // the option key in options array
            $option = $options[$key]; // the option
            echo '<input type="hidden" id="option' . $key . '" value="' . $key . '" name="payment[systempay_multi_option]" disabled=""/>
                  <label style="float: none;">' . $option['label'] . '</label> <br style="margin-bottom: 5px;"/>';

        } else {
            $first = true;
            foreach ($options as $key => $option) {
                echo '<input class="radio" type="radio"'. ($first == true ? ' checked="checked"' : '') . ' id="option' . $key . '" value="' . $key . '" name="payment[systempay_multi_option]" disabled=""/>
                      <label style="float: none;" for="option' . $key . '">' . $option['label'] . '</label> <br style="margin-bottom: 5px;"/>';
                $first = false;
            }
        }
        ?>
    </li>
</ul>