<?php
/**
 * Systempay V2-Payment Module version 1.8.0 for Magento 1.4-1.9. Support contact : supportvad@lyra-network.com.
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2017 Lyra Network and contributors
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @category  payment
 * @package   systempay
 */
?>

<script type="text/javascript">
//<![CDATA[

    Translator.add(
            'Incorrect credit card number.',
            "<?php echo Mage::helper('systempay')->__('Incorrect credit card number.') ?>"
    );
    Translator.add(
            'Incorrect credit card CVV.',
            "<?php echo Mage::helper('systempay')->__('Incorrect credit card CVV.') ?>"
    );
    Translator.add(
            'Incorrect credit card expiration date.',
            "<?php echo Mage::helper('systempay')->__('Incorrect credit card expiration date.') ?>"
    );

    Validation.addAllThese([
            ['validate-systempay-standard-cc-exp', 'Incorrect credit card expiration date.', function(v, elm) {
                    var ccExpYear = v;
                    var ccExpMonth = $('systempay_standard_cc_exp_month').value;
                    var currentTime = new Date();
                    var currentMonth = currentTime.getMonth() + 1;
                    var currentYear = currentTime.getFullYear();
                    if (ccExpMonth < currentMonth && ccExpYear == currentYear) {
                        return false;
                    }
                    return true;
            }],
            ['validate-systempay-standard-cc-number', 'Incorrect credit card number.', function(v) {
                return /^\d{13,19}$/.test(v);
            }],
            ['validate-systempay-standard-cc-cvv', 'Incorrect credit card CVV.', function(v) {
                return /^\d{3,4}$/.test(v);
            }]
    ]);

//]]>
</script>

<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode(); ?>" style="display:none;">
<?php
if (Mage::helper('systempay')->isCurrentlySecure()) : // admin backend secured, use WS payment
    $cards = $this->getAvailableManualCcTypes();

    // show card logos as radio buttons
    $amexCards = '';
    $cbCards = '';
    $otherCards = '';

    $first = true;
    foreach ($cards as $code => $label) {
        $html = '<div class="systempay-card">';

        if (count($cards) == 1) {
            $html .= '<input type="hidden" id="systempay_standard_cc_type_' . $code . '" value="' . $code . '" name="payment[systempay_standard_cc_type]"/>' ;
        } else {
            $html .= '<input type="radio" class="radio" id="systempay_standard_cc_type_' . $code . '"' . ($first ? ' checked="checked"' : '') . ' value="' . $code . '" name="payment[systempay_standard_cc_type]"/>' ;
        }
        $first = false;

        $html .= '    <label for="systempay_standard_cc_type_' . $code . '">
                          <img alt="' . $label . '" src="' . $this->getCcTypeImageSrc($code) . '" title="' . $label . '" />
                      </label>';
        $html .= '</div>';

        $network = $this->getCcTypeNetwork($code);
        if ($network == 'AMEX') {
            $amexCards .= $html;
        } elseif ($network == 'CB') {
            $cbCards .= $html;
        } else {
            $otherCards .= $html;
        }
    }

    echo '<li style="margin-top: 10px;"></li>';
    if ($cbCards != '') echo '<li>' . $cbCards . '</li>';
    if ($amexCards != '') echo '<li>' . $amexCards . '</li>';
    if ($otherCards != '') echo '<li>' . $otherCards . '</li>';
?>

    <li>
        <div class="input-box">
            <label for="systempay_standard_cc_number"><?php echo Mage::helper('systempay')->__('Credit Card Number'); ?> <span class="required">*</span></label><br/>
            <input class="input-text required-entry validate-systempay-standard-cc-number" autocomplete="off" maxlength="19" type="text" name="payment[systempay_standard_cc_number]" id="systempay_standard_cc_number" style="width: 200px;" />
        </div>
    </li>
    <li>
        <div class="input-box">
            <label for="systempay_standard_cc_exp_month"><?php echo Mage::helper('systempay')->__('Expiration Date'); ?> <span class="required">*</span></label><br/>
            <select class="month required-entry" name="payment[systempay_standard_cc_exp_month]" id="systempay_standard_cc_exp_month" style="width: 95px;" >
                <?php foreach (range(1, 12) as $month) : ?>
                    <option value="<?php echo $month; ?>"><?php echo str_pad($month, 2, '0', STR_PAD_LEFT); ?></option>
                <?php endforeach; ?>
            </select>
            <select class="year required-entry validate-systempay-standard-cc-exp" name="payment[systempay_standard_cc_exp_year]" id="systempay_standard_cc_exp_year" style="width: 100px;">
                <?php foreach (range(date('Y'), date('Y') + 9) as $year) : ?>
                    <option value="<?php echo $year; ?>"><?php echo $year; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </li>
    <li>
        <div class="input-box">
            <label for="systempay_standard_cc_cvv"><?php echo Mage::helper('systempay')->__('CVV'); ?> <span class="required">*</span></label><br/>
            <input class="input-text required-entry validate-systempay-standard-cc-cvv" autocomplete="off" maxlength="4" type="text" name="payment[systempay_standard_cc_cvv]" id="systempay_standard_cc_cvv" style="width: 60px;" />
        </div>
    </li>
<?php endif;?>
</ul>