<?php
/**
 * Systempay V2-Payment Module version 1.8.0 for Magento 1.4-1.9. Support contact : supportvad@lyra-network.com.
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2017 Lyra Network and contributors
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @category  payment
 * @package   systempay
 */

$cart = Mage::getSingleton('checkout/cart');
$buttonTitle = $this->getConfigData('one_click_title') ? $this->getConfigData('one_click_title') : Mage::helper('systempay')->__('Buy now');

if ($cart->getItemsCount() && $this->isOneclickAvailable()) :
?>
    <li>
        <form id="systempay_cart_oneclick_form" method="post" action="<?php echo $this->getUrl('systempay/payment/oneclickPayment', array('_secure' => true)) ?>">
            <?php if (! $cart->getQuote()->isVirtual()) : ?>
                <?php echo $this->getChildHtml('systempay_shipping'); ?>
            <?php endif; ?>

            <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="$('systempay_cart_oneclick_form').submit();">
                <span><span><?php echo $buttonTitle ?></span></span>
            </button>
        </form>
    </li>

    <li>
        <span><?php echo Mage::helper('systempay')->__('OR');?></span>
    </li>
<?php endif; ?>