<?php
/**
 * Systempay V2-Payment Module version 1.8.0 for Magento 1.4-1.9. Support contact : supportvad@lyra-network.com.
 *
 * NOTICE OF LICENSE
 *
 * This source file is licensed under the Open Software License version 3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/osl-3.0.php
 *
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2017 Lyra Network and contributors
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @category  payment
 * @package   systempay
 */

$product = $this->getProduct();
$buttonTitle = $this->getConfigData('one_click_title') ? $this->getConfigData('one_click_title') : Mage::helper('systempay')->__('Buy now');

if ($product->isSaleable() && $this->isOneclickAvailable()) :
?>
    <script type="text/javascript">
    //<![CDATA[
        var systempayOneclickInsert = function () {
            var btnHtml = '<button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="systempayProductOneclickPayment(this);" style="width: auto;">' +
                          '  <span><span><?php echo $buttonTitle ?></span></span>' +
                          '</button>';

            <?php if (version_compare(Mage::getVersion(), '1.9.0.0', '>=')) : ?>
                btnHtml = '<div class="add-to-cart-buttons">' + btnHtml + '</div>';
            <?php endif; ?>

            <?php if ($product->isVirtual()) : ?>
                <?php if (version_compare(Mage::getVersion(), '1.9.0.0', '<')) : ?>
                    btnHtml = btnHtml.replace('style="width: auto;"', 'style="width: auto; margin-left: 7px;"')
                <?php endif; ?>
                $$('.add-to-cart').first().insert(btnHtml);
            <?php else : ?>
                $$('.add-to-cart').first().insert({
                    after : '<div class="add-to-cart" style="float: left; margin: 10px 0;">' +
                            <?php echo Mage::helper('core')->jsonEncode($this->getChildHtml('systempay_shipping')); ?> +
                            btnHtml +
                            '</div>'
                });
            <?php endif; ?>
        };

        document.observe('dom:loaded', function() {
            systempayOneclickInsert.defer();

            if (typeof spConfig != 'undefined') {
                // override Product.Config to fire option:change event
                spConfig.reloadPrice = function() {
                    $$('.price').invoke('fire', 'option:change');
                    return Product.Config.prototype.reloadPrice.call(this);
                };
            }

            if (typeof opConfig != 'undefined') {
                // override Product.Options to fire option:change event
                opConfig.reloadPrice = function() {
                    $$('.price').invoke('fire', 'option:change');
                    return Product.Options.prototype.reloadPrice.call(this);
                };
            }

            // if selected option changes, update shipping methods
            Event.observe($$('.price').first(), 'option:change', systempayUpdateShippingBlock);

            // if product quantity changes, update shipping methods
            Event.observe($('qty'), 'change', systempayUpdateShippingBlock);

            // if any related product is checked or unchecked, update shipping methods
            if ($$('.related-checkbox').length) {
                $$('.related-checkbox').each(function(elem) {
                    Event.observe(elem, 'change', systempayUpdateShippingBlock);
                });
            }

            if ($$('.block-related .block-subtitle a').length) {
                Event.observe($$('.block-related .block-subtitle a').first(), 'click', systempayUpdateShippingBlock);
            }
        });
    //]]>
    </script>
<?php endif; ?>